footer.footer {
    flex-shrink: 0;
    align-items: center;
    min-height: 8vh;
    background-color: #ad1d12;
}

.soc-links-footer {
    width: 23%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px #f1d186 solid; */
}

.soc-links-footer a {
    color: #f1d186;
}

.soc-links-footer a.viber:hover {
    color: #530477;
}

.soc-links-footer a.facebook:hover {
    color: #0946ca;
}

.soc-links-footer a.phone:hover {
    color: #0ebd08;
}

.soc-links-footer a.instagram:hover {
    color: #0fe9e9;
}

.phone-numbers {
    padding-left: 30%;
    margin: auto;
}

.phone-numbers a{
    font-size: 0.7rem;
    color: #f1d186;
}

.footer-image {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 811px){
    .soc-links-footer {
        width: 60%;
    }
    .footer-image { 
        max-width: 28%;
        height: auto;
    }
    .soc-links-footer {
        font-size: 1.7rem;
    }
}

@media (min-width:812px) and (max-width:1079px){
    .footer-image { 
        max-width: 10%;
        height: auto;
    }
    .soc-links-footer {
        font-size: 1.8rem;
    }
    .phone-numbers a{
        font-size: 1rem;
    }
}

@media (min-width: 1080px){
    .footer-image { 
        max-width: 6%;
        height: auto;
    }
    .soc-links-footer {
        font-size: 2.1rem;
    }
    .phone-numbers a{
        font-size: 1rem;
    } 
}
