
html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.menu_image {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5em;
}
figure .menu_image {
	opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover .menu_image {
	opacity: 1;
}

figure:hover + div.category_name { color: yellow; }

div.category_name {
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: white;
    position: absolute;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  li.navbar-items{
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    color: #eb640ab0!important
  }

  ul.navbar-group{
    margin: auto;
  }

  a.nav-link{
    color: #744510ef!important;
  }

  a.nav-link:hover{
    color: rgb(240, 8, 8)!important;
  }

  .categories-cont{
    max-width: 80%!important;
  }

  .carousel-container{
    background-color: #f1dba7;
  }

  .custom-footer{
    background-color: #ad1d12;
  }

  .phone-row a{
    opacity: 0.7;
    color: #f1d186!important;
  }

  .phone-row a:hover{
    opacity: 1;
    color: #f3dca8!important;
  }

  .main-carousel{
    max-width: 55%;
    border-radius: 2em;
  }

  @media (max-width: 1000px) {
    .main-carousel{
      display: none;
    }
  }

  .categories-page{
    background-color: #f1e4c6;
  }

  .categories-page .card-img-top {
    border-radius: 1em;
  }